*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "NightZone";
  src: url("../../fonts/NightZone.ttf")format('truetype');
}

@font-face {
  font-family: "coolvetica";
  src: url("../../fonts/coolvetica.otf")format('opentype');
}

:root {
  --bg-primary: #E5097F;
  --bg-secondary: #EF7F1A;
  --bg-accent-color: #00A0E3;
  --text-color-primary: #FEFEFE;
  --text-color-secondary: #1F1B20;
}

body{
  background-color: var(--bg-accent-color);
  background-image: url("../assets/homepage/bg_desktop.png");
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  line-height: 1;
}

.main-header {
  background-color: var(--bg-primary);
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.main-header-right_section{
  grid-column: 3;
  display: flex;
  align-items: center;
  justify-content: end;
}

.main-header > .main-header-right_section img {
  height: 90px;
}

.main-website__content{
  display: grid;
  grid-template-columns: auto 1fr auto;

}

.sidebar-content{
  width: 500px;
  background-color: var(--bg-secondary);
  clip-path: polygon(0 0, 100% 0%, 74% 100%, 0% 100%);
  display: flex;
  align-items: end;
  padding: 2em;
  display: grid;
  grid-template-rows: 0.4fr auto;
}

.content {
  list-style: none;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.content li {
  font-size: 3rem;
  text-transform: capitalize;
  font-family: coolvetica;
  color: white;
}

hr {
  width: 100%;
  background-color: white;
  color: white;
  height: 5px;
  outline: unset;
  border: unset;
}